@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Russo+One&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

/* disables horizontal scrolling */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #e8e8e8;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  font-family: "Lato", sans-serif;
  display: flex;
  height: 10vh;
  align-items: center;
  border-bottom: 10px solid #e8e8e8;
  background-color: #f9faf8;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
}

nav img {
  margin-right: 5vw;
  margin-left: 2vw;
  position: absolute;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

nav a:hover {
  font-size: 16px;
  color: red;
  transition: 500ms;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 5vw;
  margin-right: auto;
  width: 100%;
  justify-content: center;
}

#intro {
  background-image: url("images/sushi.png");
  margin-top: 10vh;
  min-height: 900px;
  display: flex;
  flex-direction: column;
}

#intro h1 {
  font-family: "Russo One", sans-serif;
  color: white;
  font-size: 16px;
  align-self: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#intro .logo {
  width: 15%;
  align-self: center;
  margin-top: 15vh;
}

#intro h2 {
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 80px;
  font-weight: 100;
  text-shadow: 1px 0 0 #e8e8e8, 0 -1px 0 #e8e8e8, 0 1px 0 #e8e8e8,
    -1px 0 0 #e8e8e8;
  align-self: center;
  margin-top: 10vh;
  text-align: center;
}

#intro .divider {
  width: 10%;
  align-self: center;
}

section {
  min-height: 92vh;
}

#hours {
  background-color: #0b0f14;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white;
  display: flex;
  flex-direction: column;
}

#hours h1 {
  font-family: "Russo One", sans-serif;
  font-size: 60px;
  width: 100%;
  text-align: center;
  padding-top: 5vh;
}

#hours h2,
#hours h3 {
  font-size: 20px;
  font-weight: 300;
}

#open-hours {
  display: flex;
  margin-top: 8vh;
  justify-content: space-evenly;
}

#lunch-hours,
#dinner-hours {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#lunch-hours h2,
#dinner-hours h2 {
  font-weight: 800;
}

#hours-notice {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20vh;
}

#locate {
  min-height: 50vh;
  display: flex;
  font-family: "Lato", sans-serif;
}

#location-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5vw;
}

#location-details h2 {
  font-weight: 400;
}

#directions {
  align-self: center;
  margin-left: auto;
  margin-right: 10vw;
  background-color: #1f2937;
  padding: 15px 25px;
  border-radius: 10px;
}
/* 
to-do list (come back to)
navbar links
menu dropdown
make it work for mobile phones

ask mom for a restaurant email and replace filler email in location 

sections to add: 
contact us with form 
menu:
dropdown on navbar to the sections of menu
separate page with the sections of menu
separate pages with menu items

footer
*/
